$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';
@import '~bulma-extensions/bulma-checkradio/src/sass/index.sass';

// custom
.short-input {
    width: 4em;
}

.medium-input {
    width: 7em;
}

.max-height-200 {
    max-height: 200px;
    overflow-y: auto;
}

.button-spacer {
    width: 3em;
}

.relative {
    position: relative;
}

.horizontal-bar {
    background-color: #999;
    height: 100%;
    position: absolute;
}

.title, .subtitle {
    word-break: keep-all;
}

table td.has-text-vertically-centered, table th.has-text-vertically-centered {
    vertical-align: middle;
}

table th.has-text-bottom, table th.has-text-bottom {
    vertical-align: bottom;
}

.width-48 {
    width: 48px;
    max-width: 48px;
}

.width-128 {
    width: 128px;
    max-width: 128px;
}